/dev/accel           0640   system    system
/dev/msm_camera/*    0777   graphics  graphics
/dev/graphics/fb0    0777   graphics  graphics
/dev/smdcntl0        0640   radio     radio
/dev/smdcntl1        0640   radio     radio
/dev/smdcntl2        0640   radio     radio
/dev/msm_preproc_ctl 0660   system    audio
/dev/pm_monitor      0770   radio     radio
/dev/accel           0640   compass   system
/dev/akm8973_aot     0640   compass   system
/dev/akm8973_dev     0640   compass   system
/dev/ttyHS0          0600   bluetooth bluetooth
/dev/cpu_dma_latency 0660   system    system
/dev/i2c-0           0660   root      system
/dev/i2c-1           0660   root      system
/dev/light           0640   system   system
/dev/proximity       0640   system   system
