on post-fs

    # Wi-Fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    
    # DHCP
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # qmuxd related
    mkdir /data/local 0777 radio shell
    mkdir /data/local/tmp 0777 radio shell
    chown radio shell /data/local
    chown radio shell /data/local/tmp
   
on boot
    
    # Bluetooth power up / down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660                /sys/class/rfkill/rfkill0/state

    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto
    
    # cpufreq configuration
    write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 85
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 245760
        
    # Logger
    chmod 0777 /sys/kernel/logger/log_main/enable
    chmod 0777 /sys/kernel/logger/log_events/enable
    chmod 0777 /sys/kernel/logger/log_radio/enable
    chmod 0777 /sys/kernel/logger/log_main/priority
    chmod 0777 /sys/kernel/logger/log_radio/priority

    # UMS
    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.2/polling 1

    # Enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,4632,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    # lowmem killer minfree adjustments
    write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096,9216,10240,10240

# rild support daemon
service qmuxd /system/bin/qmuxd
    
service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled
    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c /data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 660 wifi wifi
    group system wifi inet dhcp
    disabled
    oneshot 

service dhcpcd /system/bin/dhcpcd -ABKL eth0
    disabled
    oneshot
    
service oem_rpc_svc /system/bin/oem_rpc_svc
    oneshot
    
# Compass / Accelerometer daemon
service akmd /system/bin/akmd2
    disabled
    oneshot

# bugreport is triggered by the KEY_VOLUMEUP and KEY_CENTER keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 232
